h1 {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(209, 27, 185);
}
h2 {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(6, 12, 85);
}
h3 {
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(6, 12, 85);
}
h4 {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(6, 12, 85);
}
body {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(6, 12, 85);
}